* {
  all: unset;
  font-family: FiraCode Nerd Font;
  transition: 0.3s;
  font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: #faf4ed;
  color: #575279;
  border: 1px solid #9893a5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #b4637a;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #575279;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #797593;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #575279;
  background-color: #fffaf3;
  border: 1px solid #9893a5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #f2e9e1;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #9893a5;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #575279;
  background-color: #b4637a;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #faf4ed;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #d7827e;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #faf4ed;
  color: #575279;
  padding: 1rem;
  border: 1px solid #9893a5;
}

.control-center .widget-title {
  color: #d7827e;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #575279;
  background-color: #fffaf3;
  border: 1px solid #9893a5;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #f2e9e1;
}

.control-center .widget-title button:active {
  background-color: #9893a5;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #fffaf3;
  color: #575279;
  border: 1px solid #9893a5;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #b4637a;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #575279;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #575279;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #797593;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #575279;
  background-color: #fffaf3;
  border: 1px solid #9893a5;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #f2e9e1;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #9893a5;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #575279;
  background-color: #b4637a;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #faf4ed;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #d7827e;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #b4637a;
}

.notification.low progress,
.notification.normal progress {
  background-color: #56949f;
}

trough {
  background-color: #fffaf3;
}

.control-center trough {
  background-color: #9893a5;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #f2e9e1;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #797593;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #f2e9e1;
  border: 1px solid #9893a5;
}

.widget-dnd > switch:checked slider {
  background: #286983;
}

.widget-dnd > switch slider {
  background: #9893a5;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
